/* input Start */
.form-input-header {
  color: #adb0cb;
}
/* input End */

/* login Start */
.login-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.login-left {
  margin: 2rem;
  border-radius: 1rem;
}

.login-right {
  margin: 3rem;
}
/* login End */

/* margin padding Start */
.margin-right-sm {
  margin-right: 0.5rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-lg {
  margin: 1.5rem;
}

.padding-sm {
  padding: 0.5rem;
}

.padding-lg {
  padding: 1.5rem;
}
/* margin padding End */

/* common Start */
.link {
  color: #7466f1;
}

/* common End */

/* ant Start */
.ant-menu-item-selected {
  background-color: #2f3249 !important;
  color: white !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: black !important;
}
/* ant End */

/* calendar Start */
.custom-calendar {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #f0f0f0 !important;
}

.custom-calendar .react-calendar:hover {
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--active {
  color: white;
  background-color: #2f3249;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--active:enabled:hover {
  color: white;
  background-color: #2f3249;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--now {
  color: white;
  background-color: #adb0cb;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--now:enabled:hover {
  color: white;
  background-color: #adb0cb;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--hasActive {
  color: white;
  background-color: #2f3249;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile--hasActive:enabled:hover {
  color: white;
  background-color: #2f3249;
  border-radius: 5px;
}
/* calendar Start */
